# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
.devcontainer

# Misc
_sass/dist
assets/js/dist
tools

# Un-Comment to restore original UI in gh-pages build
# Note: remove 'gem "jekyll-sass-converter", "~> 2.0"' from Gemfile, for proper site build

# _data/origin
# _sass
# assets/css
